---
const socialLinks = [
  { name: "+34 674 30 92 06", url: "https://wa.me/34674309206", icon: "whatsapp.svg" },
  { name: "gragruporescatesyadopcionescs@gmail.com", url: "mailto:gragruporescatesyadopcionescs@gmail.com", icon: "email.svg" },
  { name: "@gragrupoderescatesyadopcionescastellon", url: "https://www.teaming.net/gragrupoderescatesyadopcionescastellon?lang=es_ES", icon: "teaming.webp"},
  { name: "Gragrupoderescatesyadopcionesencastellon", url: "https://www.facebook.com/Gragrupoderescatesyadopcionesencastellon/?locale=es_ES", icon: "facebook.svg" },
  { name: "@gragrupoderescatesyadopciones", url: "https://www.instagram.com/gragrupoderescatesyadopciones/?hl=es", icon: "instagram.svg" },
];

const mapUrl = "https://www.google.com/maps?q=40.15442,0.045&z=12&output=embed";
---

<footer class="bg-[#E2B02950]">
  <section class="container mx-auto p-4 flex flex-col lg:flex-row items-center justify-between space-y-4 lg:space-y-0">
    <nav class="flex flex-col items-center lg:items-start lg:flex-1">
      {socialLinks.map((link) => (
        <a href={link.url} class="flex items-center text-gray-500 hover:text-[#DC8B7A] transition-transform hover:scale-105 mb-2" aria-label={link.name}>
          <img src={`/images/${link.icon}`} alt={link.name} class="mr-2" width="24" height="24" loading="lazy" />
          <span>{link.name}</span>
        </a>
      ))}
    </nav>

    <aside class="lg:flex-1 text-center text-gray-500 p-4 m-4">
      <p>
        GRA nace de la unión de un grupo de personas particulares con una misma labor en común: <strong>rescatar animales en peligro, rehabilitarlos y buscarles un hogar</strong>. 
        Grupo GRA es una <strong>asociación oficial</strong>, GRA se mantiene de las <strong>aportaciones solidarias</strong> de la gente. 
        Los miembros de GRA son personas particulares que <strong>ayudan y difunden todo tipo de casos</strong>, <strong>rescatan a cuantos animales pueden</strong> y se encargan de buscarles un <strong>hogar definitivo</strong>.
      </p>
    </aside>

    <figure class="lg:flex-1 flex justify-center p-4 lg:order-2">
      <a href="https://www.google.com/maps?q=40.15442,0.045&z=12" target="_blank" rel="noopener noreferrer">
        <img 
          src="/images/map.webp" 
          alt="Cabanes, Castellón, España" 
          class="h-auto rounded-lg hover:opacity-75 transition-opacity duration-300" 
          loading="lazy"
          width="300"
        />
      </a>
    </figure>
  </section>
</footer>